---
# tasks file for ansible-role-nrpe

- include: add_additional_nrpe_checks.yml
  when: additional_nrpe_checks is defined

- include: user.yml
  when: nrpe_user_creation

- include: sudo.yml
  when: nrpe_disable_sudo_requiretty

- include: opsview.yml
  when: ansible_os_family == "RedHat" and install_opsview and not install_nrpe

- include: nrpe.yml
  when: ansible_os_family == "RedHat" and not install_opsview and install_nrpe
